*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 0.9rem;
  -webkit-tap-highlight-color: transparent;
}

html,
body{
  height: 100%;
}

:root{
  --color-branco: rgba(255,255,255,0.9);
  --laranja: #fd9a28;
}

.header{
  padding: 0.8rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--laranja);
}

.logo h1{
  font-size: 0px;
}

.logo img{
  width: 60px;
  
}

.content-nav{
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
}

.line{
  background: var(--color-branco);
  width: 30px;
  height: 4px;
  margin-bottom: 5px;
}

.line-top{
  position: relative;
  top: 0;
}

.line-bottom{
  position: relative;
  bottom: 0;
}

body{
  position: relative;
}

body .lateral-menu{
  position: absolute;
  top: 60px;
  width: 50%;
  bottom: 0;
  left: -400px;
  background: var(--laranja);
  z-index: 1;
}

.lateral-menu ul,
.sub-menu,
.sub-menu ul{
  list-style: none;
}

.lateral-menu a{
  text-decoration: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
  outline: unset;
}
.lateral-menu ul li{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.lateral-menu ul li a{
  display: block;
  padding: 0.5rem;
  width: 100%;
}

.lateral-menu .sub-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
}

.lateral-menu .sub-menu img{
  width: 12px;
  height: 12px;
  margin-right: 15px;
}

.lateral-menu ul ul{
  margin-left: 20px;
} 

.home{
  height: 90vh;
  background: url('../img/home.jpg')no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.home p,
.home b{
  font-size: 1.8rem;
  font-weight: 900;
  width: 40%;
  position: relative;
  text-shadow: 1px 1px 2px white;
}

.banner{
  position: absolute;
  top: 250px;
  left: 20px;
}

.artigos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.rotulo-section{
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.rotulo-section img{
  width: 40px;
  margin-right: 10px;
}

.rotulo-section span{
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.artigo{
  margin-top: 10px;
  margin-bottom: 30px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.32);
  cursor: pointer;
}

.artigo img{
  height: 100px;
  padding: 1rem;
}

.content-artigo{
  padding: 0.7rem;
  height: 100%;
  background-color: rgb(243, 241, 241);
}

.content-artigo span{
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
  text-transform: uppercase;
}

.content-artigo p{
  text-align: justify;
}

a{
  color: black;
  text-decoration: none;
}

.expanded-artigo img{
  width: 100%;
}

.content-title-artigo{
  padding: 0.5rem;
  margin-top: 10px;
  text-align: center;
}

.content-title-artigo h2{
  
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.content-title-artigo span{
  color: #494949;
  font-style: italic;
  font-size: 1rem;
}

.content-sec-artigo{
  padding: 0.5rem;
  margin-top: 10px;
}

.content-sec-artigo h3{
  font-size: 1rem;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.content-sec-artigo p{
  text-align: justify;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.content-sec-artigo ul{
  width: 85%;
  margin: 0 auto;
}

.content-sec-artigo ul li{
  margin-bottom: 8px;
}

.construct{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.construct img{
  width: 100px;
  margin-bottom: 20px;
}

.construct span{
  font-style: italic;
  font-size: 1rem;
  width: 95%;
  text-align:center;
  margin: 0 auto;
}

.content-user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.content-user img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.content-user span{

  font-size: 1.2rem;
  font-weight: 700;
}

.content-info-histo{
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0.5rem;
  background: rgb(235, 235, 235);
  box-shadow: 0px 3px 6px rgba(0,0,0,0.32);
}

.content-info-histo p{
  text-align: justify;
  width: 95%;
  margin: 0 auto;
}

.container-historico ul {
  margin-top: 40px;
  list-style: none;
}

.container-historico ul li{
  background: rgb(252, 191, 59);
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem;
  margin-bottom: 10px;
  margin-top: 10px;
}

.content-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-link div{
  display: flex;
  align-items: center;
}

.content-link img,
.content-link div img{
  width: 20px;
}

.content-link div img{
  margin-right: 10px;
}

.content-link span{
  font-weight: bold;
}